#canvasWrapper {
	border: 2px solid black;
	display: inline-block;
	padding: 8px;
	line-height: 0%;
	width: 493px;
}

#extraBorder {
	border: 1px solid gray;
	display: inline-block;
}

#yourColor {
	margin: 18px 0 0 0;
	font-size: 15px;
	float: left;
}

#colorDisplay {
	display: inline-block;
	height: 13px;
	width: 13px;
	background-color: blue;
	margin-left: 75px;
	border: 1px solid black;
}

#colorPicker{
	border: 1px solid black;
	/*margin: 13px 0 0 0;
	float: right;
	height: 115px;
	width: 310px;*/
}

#colorwheel {
	clear: left;
	position: relative;
	left: +40px;
	top: +20px
}

#menuWrapper {
	text-align: center;
	width: 493px
}

#colorPickerWrapper {
	padding: 0 20px 0 0;
	height: 115px;
	width: 310px;
	float: right;
	margin: 13px 0 0 0;
}

.selected {
	box-shadow: 0 0 8px 5px red;
}

.colorBox {
	height: 13px;
	width:  13px;
	margin: 7px 10px;
	border: 1px solid black;
	display: inline-block;
}

.pixel {
	border: 1px solid gray;
	display: inline-block;
	width: 7px;
	height: 7px;
	margin: 0;
}

body {
	text-align: center;
}

div {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}