#canvasWrapper {
	border: 2px solid black;
	display: inline-block;
	padding: 1em 1em 1em 1em;
	line-height: 0%;
	width: 493px;
}

#extraBorder {
	border: 1px solid gray;
	float: left;
}

#yourColor {
	margin: 1em 0 0 0;
	font-size: 15px;
	float: left;
}

#colorDisplay {
	display: inline-block;
	height: .75em;
	width: .75em;
	background-color: blue;
	margin-left: 75px;
	border: 1px solid black;
}

#colorPicker{
	height: 7.75em;
	width: 20em;
	border: 1px solid black;
	float: right;
	margin: 1em 0 0 0;
}

#colorwheel {
	clear: left;
	position: relative;
	left: +40px;
	top: +20px
}

#menuWrapper {
	text-align: center;
}

.selected {
	box-shadow: 0 0 8px 5px red;
}

.colorBox {
	height: .75em;
	width: .75em;
	margin: .5em .65em;
	border: 1px solid black;
	display: inline-block;
}

.pixel {
	border: 1px solid gray;
	display: inline-block;
	width: .5em;
	height: .5em;
	margin: 0;
}

body {
	text-align: center;
}

div {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}